<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>FideTech</title>
        <meta charset="UTF-8">

        <link href="Css/menuNav.css" rel="stylesheet" type="text/css"/>
        <link href="Css/distribucionPagina.css" rel="stylesheet" type="text/css"/>

    </head>

    <body>


        <header th:replace="layout/plantilla :: header">

        </header>

        <section class="contenidoGeneral">
            <h2 class="titulos"><strong>INFORMACIÓN PARA CONTACTARNOS</strong></h2>

            <figure>
                <img class="fotos" src="imagenes/atencion-al-cliente.png" alt=""/>
                <figcaption id="pieFotoServicioCliente"><strong><i>Centro de atención al cliente</i></strong></figcaption>

            </figure>


            <h3 class="subTitulos">¿Quénes somos?</h3>

            <p class="parrafos">Somo una tienda especializada en venta de equipos electrónicos y de hardware en general. Reparamos computadoras,
                vendemos componenetes electrónicos como CPU, GPU (targetas de video), Cases, memorias RAM, ventiladores de computo, duentes de poder,
                teclados, mouse, entre otros tipos de equipos de hardware; además nos encargamos de hacer computadoras personalizadas con los componentes
                que <strong>USTED ELIJA.</strong> En caso de que quiera armar una computadora o comprar algún componente personalmente puede solicitar
                los componenetes desde algunas de las opciones de contacto de la página o venir directamente a nuestra tienda y preguntar por componentes
                personalmente.</p>

            <div class="parrafos">

                <div class="titulos">CONTACTE CON NUESTRO SERVICIO AL CLIENTE</div>

                <br>
                <br>
                <form th:action="@{/guardarCliente}"
                      method="post"
                      th:object="${cliente}">
                    
                    <input type="hidden" name="idcliente" th:field="*{idcliente}" />

                    <label for="nombre">NOMBRE:    </label>
                    <input type="text" name="nombre" th:field="*{nombre}" /><br><br>
                    
                    <label for="apellidos">APELLIDOS: </label>
                    <input type="text" name="apellidos" placeholder="" th:field="*{apellidos}" /><br><br>
                    
                    <label for="correo">CORREO:    </label>
                    <input type="email" name="correo" placeholder="" th:field="*{correo}" /><br><br>
                    
                    <label for="telefono">TELEFONO:  </label>
                    <input type="tel" name="telefono" placeholder="" th:field="*{telefono}" /><br><br>
                    
                    <label for="solicitud">SOLICITUD: </label>
                    <textarea name="solicitud" rows="6" cols="110" th:field="*{solicitud}" ></textarea><br><br>

                    <input type="submit" name="ENVIAR" value="ENVIAR"><br><br>

                </form>

            </div>

        </section>

        <footer th:replace="layout/plantilla :: footer">
            <br>
            Derechos reservados &COPY; 2022 <address style="display: inline">Heredia, Costa Rica</address> <address style="display: inline">Tel 8888-5969</address>
        </footer>

    </body>
</html>
