<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>FideTech</title>
        <meta charset="UTF-8">

        <link href="Css/menuNav.css" rel="stylesheet" type="text/css"/>
        <link href="Css/distribucionPagina.css" rel="stylesheet" type="text/css"/>
        

    </head>
    <body>

        <header class="header" th:replace="layout/plantilla :: header">

        </header>

        
        <section class="contenidoGeneral">
            <p>BUENAS GENTE</p>

        </section>

        
        <footer th:replace="layout/plantilla.html :: footer">

        </footer>

    </body>
</html>