<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Insertar producto</title>
        <meta charset="UTF-8">

        <link href="Css/menuNav.css" rel="stylesheet" type="text/css"/>
        <link href="Css/distribucionPagina.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>


        <header th:replace="layout/plantilla :: header">



        </header>

            <br>
            <a th:href="@{/nuevoProducto}">Insertar nuevo producto</a>
            <br>
            <br>

            <section class="contenidoGeneral">
                <br>
                <br>
                <div th:if="${productosDB != null and !productosDB.empty}">
                    <table id="centro" border="2">
                        <tr>
                            <td> Nombre </td>
                            <td> Marca </td>
                            <td> Descripcion </td>
                            <td> Stock </td>
                            <td> Descuento </td>
                            <td> Precio </td>
                        </tr>
                        <tr th:each="item : ${productosDB}">
                            <td th:text="${item.nombre}"></td>
                            <td th:text="${item.marca}"></td>
                            <td th:text="${item.descripcion}"></td>
                            <td th:text="${item.stock}"></td>
                            <td th:text="${item.descuento}"></td>
                            <td th:text="${item.precio}"></td>
                            <td> <a th:href="@{/modificarProducto/} + ${item.idproducto}">Modificar</a></td>
                            <td> <a th:href="@{/eliminarProducto/} + ${item.idproducto}">Eliminar</a></td>
                    </table>
                </div>

                <div th:if="${productosDB == null or productosDB.empty}">
                    La lista de clientes esta vacia
                </div>


            </section>


            <footer th:replace="layout/plantilla :: footer">

            </footer>


    </body>
</html>
